body, html {
	margin: 0;
	background: black;
}
body > div {
	overflow: hidden;
	margin: 0 auto;
}
#top {
	width: 400px;
	height: 220px;
}
#bottom {
	width: 320px;
	height: 212px;
}
#bottom > a {
	margin: 8px 12px;
	display: inline-block;
	height: 50px;
	width: 50px;
	background-size: 100% 100%;
}
